.premier{
	margin: 0 auto;
	padding: 0;
	width: 100%;
}
.titreH1 {
	color: #A3A3A3;
	font-family: audiowide-regular-webfont;
	font-size: 23px;
	font-weight: normal;
	line-height: 23px;
	margin: 80px 80px 80px 20px;
	padding: 0;
	text-align: center;
	text-transform: uppercase;
	width: auto;
}

.texteInput{
	background-color: #A3A3A3;
									border: medium none;
									color: #000000;
									display: block;
									font-family: Arial;
									font-size: 18px;
									font-weight: normal;
									height: 43px;
									margin: 20px 0 0 0;
									width: 441px;
}
.boutton{
	background-color: #3c0f38;
	color: #ffffff;
	cursor: pointer;
	display: block;
	float: right;
	font-family: Arial;
	font-size: 14px;
	font-weight: normal;
	height: 31px;
	line-height: 31px;
	margin:10px 0 0 0;
	padding:  0;
	text-align: center;
	text-transform: uppercase;
	width: 120px;
}
.styleH2{
	color: #A3A3A3;
	float: left;
	font-family: audiowide-regular-webfont;
	font-size: 23px;
	font-weight: normal;
	line-height: 23px;
	margin: 0;
	padding: 4px 0 8px;
	text-align: left;
	text-transform: uppercase;
	width: 310px;
}
.styleH22{
	color: #FFFFFF;
	display: block;
	font-family: audiowide-regular-webfont;
	font-size: 32px;
	font-weight: normal;
	line-height: 32px;
	margin: 0 auto 24px;
	padding: 0;
	text-align: left;
	text-transform: uppercase;
	width: 780px;
}
.styleH23{
	color: #FFFFFF;display: block;font-family: audiowide-regular-webfont;font-size: 32px;font-weight: normal;line-height: 32px;margin: 0 auto 24px;padding: 0;text-align: center;text-transform: uppercase;width: 780px;
}
.styleH22A{
	color: #FFFFFF;
					float: left;
					font-family: audiowide-regular-webfont;
					font-size: 23px;
					font-weight: normal;
					line-height: 23px;
					margin: 0;
					padding: 8px 25px 0 0;
					text-align: left;
					text-transform: uppercase;
					width:350px;
}
.styleH23A{
	color: #FFFFFF;
					float: left;
					font-family: audiowide-regular-webfont;
					font-size: 23px;
					font-weight: normal;
					line-height: 23px;
					margin: 0;
					padding: 8px 25px 0 0;
					text-align: left;
					text-transform: uppercase;
					width:350px;
}
.select{
	width:455px;background-color: #A3A3A3;font-family: Arial;
																							font-size: 18px;
																							font-weight: normal;
																							height: 43px;
																							padding: 0 0 0 20px;
																							margin: 0 0 29px;
}
	